<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Slack CLI</title>
    <meta name="viewport" content="width=device-width">
        <style>
          * {
            box-sizing: border-box;
          }
          html, body {
            height: 100%;
            width: 100%;
          }
          html {
          }
          body {
            padding: 1em;
            margin: 0;
            font-family: sans-serif;
          }
          .center-children {
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            resize: both;
            overflow: auto;
          }
          .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
          }
          a,img {
            display: block
          }
        </style>
  </head>
  <body class="center-children">
    <div class="center">
      <h1>Slack CLI</h1>
      <img class="center" style="margin-top: -1em; width: 5em; height: 5em;" src="https://slack-files2.s3-us-west-2.amazonaws.com/avatars/2018-02-28/322540051491_005c180801b07413d867_512.png"></img>
      <a href="https://slack.com/oauth/authorize?client_id=322607959140.322080377537&scope=bot,chat:write:user,channels:read,users:read"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>
    </div>
  </body>
</html>

