<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Slack CLI</title>
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <h1>Authorization Complete</h1>
    Token saved to: <pre><%= access_token_path %></pre>
    <p>This window may be closed.</p>
  </body>
</html>

